@model FarmaciaAlejandro.Models.Cliente

<h2>Editar Cliente</h2>

<form method="post" action="@Url.Action("EditarCliente", "Home")">
    <div class="form-group">

        <input type="hidden" id="Idcliente" name="Idcliente" value="@Html.Raw(Model.Idcliente)" class="form-control" />


        <label for="Nombre">Nombre:</label>
        <input type="text" id="Nombre" name="Nombre" value="@Html.Raw(Model.Nombre)" class="form-control" />
    </div>
    <div class="form-group">
        <label for="Apellido">Apellido:</label>
        <input type="text" id="Apellido" name="Apellido" value="@Html.Raw(Model.Apellido)" class="form-control" />
    </div>
    <div class="form-group">
        <label for="Direccion">Dirección:</label>
        <input type="text" id="Direccion" name="Direccion" value="@Html.Raw(Model.Direccion)" class="form-control" />
    </div>
    <div class="form-group">
        <label for="Telefono">Teléfono:</label>
        <input type="text" id="Telefono" name="Telefono" value="@Html.Raw(Model.Telefono)" class="form-control" />
    </div>
    <div class="form-group">
        <label for="Email">Email:</label>
        <input type="email" id="Email" name="Email" value="@Html.Raw(Model.Email)" class="form-control" />
    </div>
    <button type="submit" class="btn btn-primary">Actualizar</button>
</form>

